

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="/">
                   Djang Material Dashboard
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; 2022 <a target="_blank" rel="noopener noreferrer" 
                      href="http://allinerpsoftware.com.pe/">ALLIN ERP SOFTWARE</a>
          </div>
        </div>
    </footer>
