{% extends "layouts/base.html" %}

{% block title %} Editar cliente {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Editar cliente</h4>
          </div>
          <div class="card-body">
            <form method="POST">
 
                <!-- Security token -->
                {% csrf_token %}
             
                <!-- Using the formset -->
                {{ form.as_p }}
                 
                <input type="submit" value="Actualizar Entidad" class="btn btn-primary">
            </form>
          </div>
        </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}