{% extends "layouts/base.html" %}

{% block title %} Nueva Categoría {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Nueva Categoría</h4>
          </div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
 
                <!-- Security token -->
                {% csrf_token %}
             
                <!-- Using the formset -->
                {{ form.as_p }}
                 
                <input type="submit" value="Crear Categoría" class="btn btn-primary">
            </form>
          </div>
        </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}